<a href="https://colab.research.google.com/github/Sarmentos/Challenge-Alura-Store/blob/main/AluraStoreBr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [18]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja['Loja Origem'] = '1'
loja2['Loja Origem'] = '2'
loja3['Loja Origem'] = '3'
loja4['Loja Origem'] = '4'

todas_lojas = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

todas_lojas.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja Origem
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79,1
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66,1
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86,1
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50,1
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38,1

In [19]:
loja.describe()

,Preço,Frete,Avaliação da compra,Quantidade de parcelas,lat,lon
count,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,650.491361,34.691805,3.976685,2.943196,-20.763366,-47.349385
std,819.582778,43.814183,1.415370,2.819897,5.372400,4.183180
min,10.070000,0.000000,1.000000,1.000000,-30.170000,-70.550000
25%,74.345000,4.141783,3.000000,1.000000,-22.250000,-48.790000
50%,313.750000,16.498835,5.000000,1.000000,-22.190000,-48.790000
75%,904.130000,48.050074,5.000000,4.000000,-18.100000,-44.380000
max,3969.380000,214.377060,5.000000,24.000000,1.410000,-36.590000

In [20]:
df = pd.DataFrame(todas_lojas)

#1. Análise do faturamento

In [21]:
df.groupby('Loja Origem')['Preço'].sum()

Loja Origem
1    1534509.12
2    1488459.06
3    1464025.03
4    1384497.58
Name: Preço, dtype: float64

# 2. Vendas por Categoria

In [30]:
def agrupar_por_categoria(df):
    coluna_categoria = df.columns[df.columns.str.contains('categoria', case=False)][0]
    agrupado = df.groupby([coluna_categoria, 'Loja Origem']).sum(numeric_only=True)
    return agrupado

In [34]:
agrupar_por_categoria(df)['Preço']

Categoria do Produto   Loja Origem
brinquedos             1               23993.78
                       2               21262.21
                       3               25869.20
                       4               27015.67
eletrodomesticos       1              484913.36
                       2              464758.13
                       3              438984.89
                       4              377680.65
eletronicos            1              572659.23
                       2              547773.71
                       3              547699.92
                       4              545966.86
esporte e lazer        1               52387.55
                       2               46326.09
                       3               47456.10
                       4               44465.65
instrumentos musicais  1              121731.69
                       2              139987.03
                       3              103174.45
                       4              100136.50
livros                 1               11713.92
                       2               13454.35
                       3               12664.70
                       4               12427.77
moveis                 1              250178.11
                       2              235234.68
                       3              268095.56
                       4              256705.65
utilidades domesticas  1               16931.48
                       2               19662.86
                       3               20080.21
                       4               20098.83
Name: Preço, dtype: float64

# 3. Média de Avaliação das Lojas

In [36]:
df.groupby('Loja Origem')['Avaliação da compra'].mean()

Loja Origem
1    3.976685
2    4.037304
3    4.048326
4    3.995759
Name: Avaliação da compra, dtype: float64

# 4. Produtos Mais e Menos Vendidos

In [47]:
def agrupar_por_produto(df):
    coluna_produto_mais_vendido = df.columns[df.columns.str.contains('produto', case=False)][0]
    coluna_produto_menos_vendido = df.columns[df.columns.str.contains('produto', case=False)][1]
    agrupado = df.groupby([coluna_produto_mais_vendido, coluna_produto_menos_vendido, 'Loja Origem']).sum(numeric_only=True)
    return agrupado

In [49]:
agrupar_por_produto(df)['Preço']

Produto             Categoria do Produto   Loja Origem
Assistente virtual  eletronicos            1              10744.05
                                           2              10572.47
                                           3              10684.06
                                           4              13956.01
Bateria             instrumentos musicais  1              50258.34
                                                            ...
Violão              instrumentos musicais  4              15009.67
Xadrez de madeira   brinquedos             1               1907.42
                                           2               1717.05
                                           3               1807.34
                                           4               1434.09
Name: Preço, Length: 204, dtype: float64

# 5. Frete Médio por Loja

In [37]:
df.groupby('Loja Origem')['Frete'].mean()

Loja Origem
1    34.691805
2    33.621941
3    33.074464
4    31.278997
Name: Frete, dtype: float64